<?xml version="1.0"?>
<config>
	<modules>
		<Netgo_Flickrfeeds>
			<version>1.0.0</version>
		</Netgo_Flickrfeeds>
	</modules>
  <frontend>
    <routers>
      <flickrfeeds>
        <use>standard</use>
          <args>
            <module>Netgo_Flickrfeeds</module>
            <frontName>flickrfeeds</frontName>
          </args>
      </flickrfeeds>
    </routers>
		<layout>
		  <updates>
			<flickrfeeds>
			  <file>flickrfeeds.xml</file>
			</flickrfeeds>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <flickrfeeds>
        <class>Netgo_Flickrfeeds_Helper</class>
      </flickrfeeds>
    </helpers>
	<blocks>
	  <flickrfeeds>
		<class>Netgo_Flickrfeeds_Block</class>
	  </flickrfeeds>
	</blocks>
  </global>
</config>